# Ignorar a pasta "node_modules"
node_modules/

# Ignorar arquivos de logs
logs/
*.log

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar configurações do VS Code e IntelliJ
.vscode/
.idea/

# Ignorar todos os arquivos e diretórios relacionados ao CMake
**/CMakeFiles/
**/.cmake/
**/*.cmake
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/*.internal
**/compile_commands.json

"Phase 1"/cmake_install.cmake
"Phase 1"/CMakeCache.txt
"Phase 1"/CMakeFiles/
"Phase 1"/Makefile


"Phase 2"/cmake_install.cmake
"Phase 2"/CMakeCache.txt
"Phase 2"/CMakeFiles/
"Phase 2"/Makefile


Makefile
*/Makefile
**/Makefile
Makefile2
*/Makefile2
**/Makefile2
*.make
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Ignorar qualquer pasta CMakeFiles em qualquer diretório
**/CMakeFiles/
**/CMakeFiles/**

# Ignorar qualquer caminho que contenha .cmake/
**/.cmake/
**/.cmake/**

# Ignorar todos os arquivos .cmake no projeto
**/*.cmake


# Ignorar executáveis generator e engine em qualquer pasta
**/generator
**/engine

# Ignorar qualquer pasta build em qualquer local
**/build/
