*.3d linguist-vendored
*.sql linguist-detectable
*.json linguist-vendored
*.xml linguist-vendored
*.pdf linguist-generated
*.png linguist-generated
*.jpg linguist-generated
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
Makefile linguist-vendored
*.mk linguist-vendored
*.make linguist-vendored
*.md linguist-documentation
*.cpp linguist-detectable
*.h linguist-detectable
*.hpp linguist-detectable
*.c linguist-detectable
*.tex linguist-vendored
*.bib linguist-vendored
Makefile linguist-vendored
*.mk linguist-vendored
*.make linguist-vendored
